.a-main__mainpanel__mainbox {
  width: 90%;
  height: 90%;
  background: #FFFFFA;
  border: 1px dotted $fontgrey;

  .a-title {
    width: 90%;
    height: 4%;
    border-bottom: 2px solid #b3b3b3;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;

    .a-newRecipe {
      width: 90%;
      height: 80%;
      float: left;
      color: $strongorange;
      font-family: 'Open Sans', sans-serif;

    }

    .a-saveBTN {
      width: 12%;
      height: 95%;
      float: right;
      color: white;
      background: $strongorange;
      border: none;
      font-family: 'Open Sans', sans-serif;
      font-weight: bolder;
    }
  }
  .a-main__mainpanel__mainbox__a-nameRecipe {

    .wrapper {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      box-sizing: border-box;
      justify-content: space-between;

      label {
        width: 15%;
        color: $fontgrey;
        font-size: 20px;
      }

      .a-recipeName {
        width: 80%;
        margin-top: 5px;
        margin-bottom: 15px;
        margin-right: 50px;
        font-family: 'Open Sans', sans-serif;
      }

      .a-recipeDescription {
        width: 80%;
        height: 70px;
        margin-right: 50px;
        resize: none;
        font-family: 'Open Sans', sans-serif;
      }
    }
  }
  .a-recipe {
    display: flex;
    height: 79%;
    width: 90%;
    box-sizing: border-box;
    justify-content: space-between;
    margin: 0 auto;

    .a-instructions, .a-ingredients {
      width: 48%;
      padding-top: 60px;
      color: $fontgrey;
      font-family: 'Open Sans', sans-serif;
      .a-greyunderline {
        border-bottom: 2px solid #b3b3b3;
        font-weight: 100;

      }
      .a-recipeInstruction, .a-recipeIngredients {
        width: 92%;
        height: 70px;
        font-size: 16px;
        margin-top: 20px;
        resize: none;
      }
    }
    button{
      border:none;
    }
    .a-btnPlus {
      position: relative;
      bottom: 43px;

      .fa-plus {
        color: white;
        background: green;
        font-size: 30px;
        border: 1px solid grey;
        border-radius: 4px;

      }
    }
    #instruction, #ingredients {
      border: none;
      width: 92%;
      height: 50%;
      font-family: 'Open Sans', sans-serif;
      color: $fontgrey;
      font-size: 16px;
      margin-top: 80px;
      overflow: auto;
      padding-left: 30px;
      max-height: 50%;
    }
    .a-ingredients {
      width: 50%;
    }
  }
}