$dark-background: #4a4a49;
$orange: #E58A20;
$strongorange: #FF6600;
$fontgrey: #5B605F;
$mainAPP-background: url ('/home/kewin/Pulpit/Bootcamp JS:React/Scrum Lab/WAR_SFE_S_27_FER_ScrumLab/development/images/mainBackground.');